*{margin: 0; padding: 0;}
body {font-family:sans-serif; overflow-x: hidden; background-color: #eaeaea;}
@font-face{
	font-family: 'pristina';
	src:url('font/pristina.ttf') format('truetype');
}
.container {width: 95%;	margin: auto;}
.container-flex {display:flex; width:100%; height:50px; margin:auto; justify-content: space-between;}
/*toggle hamburger*/

nav .hamburger-button .button.no-margin span:nth-child(2){width: 20px; transform: translateX(7px);transition:.3s;}
nav {
	background-color: white;
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
}
nav .hamburger-button {
	display: flex;
	transition: .3s; 
	width: 40%; 
	position: relative;
}
nav .hamburger-button ul.hamburger {transform:translateX(0); transition:.3s; }
nav .hamburger-button ul {
	margin-top: 35px;
	transition:.3s;
	transform: translateX(-320px);
	height: 400px;
	width: 300px;
	display: flex;
	flex-direction: column;
	background-color: white;
	list-style: none;
	justify-content: space-evenly;
	padding: 10px;
	box-sizing: border-box;
}
nav .hamburger-button ul li  {padding-left: 10px; border-bottom:2px solid #303030;}
nav .hamburger-button ul li:nth-child(7){margin-bottom: 10px;}
nav .hamburger-button ul li a {
	display: inline-block;
	color: #303030;
	margin-bottom: 5px;
	text-decoration: none;
	font-size: 16px;
}
nav .hamburger-button ul li a:hover{color: #e43477;}
nav .hamburger-button .button {
	width: 50px;
	height: 50px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
	transition: .3s;
	transform: translateX(45px);
	position: absolute;
	left: -15px;
	top: 0;
}
nav .hamburger-button .button span {
	width: 35px;
	height: 5px;
	border-radius: 25px;
	background-color: #303030;
	transition:.3s;

}
nav .hamburger-button .header {
	width: 140px;
	background-color: skyblue;
	justify-content: center;
	display: flex;
	align-items: center;
	position: absolute;
	left: 35px;
	top: 50%;
}
nav .hamburger-button .header a{
	font-family: 'pristina';
	font-size: 25px;
	color: #303030;
	transform: translateX(45px);
	position: absolute;

}
nav .main {
	position: relative;
	right: 0;
	width: 15%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
}
nav .main .nav-icon {
	width: 140px;
	display: flex;
	justify-content: space-between;
}
nav .main .nav-icon span i{
	position: relative;
	width:30px;
	height: 30px; 
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	display: inline-block;
	color: #303030;
	cursor: pointer;
}
nav .main .nav-icon span i:hover {color: #e43477;}
/*hero*/

.hero {
	width: 100%;
	height: 500px;
	background-image: url("hero.jpg");
	background-position: center 630px;
	background-size: cover;
}

/* populer */
.populer {
	max-width: 100%;
	height: 400px;
	text-align: center;
}
.populer .header h1{
	margin-top: 30px;
	margin-bottom: 30px;
	font-weight: normal;
	font-size: 28px;
	text-transform: uppercase;
}
/*card*/
.card-flex{
	display: flex;
	justify-content: space-evenly;
	width: 100%
	height:100%;
}
.card {
	border-radius: 10px 10px 0 0;
	width: 250px;
	height: 320px;
	background-color: #eaeaea;
	position: relative;
	box-shadow: 0 0 5px #333;
}

.card .card-header h3{
	margin-top: 20px;
	margin-bottom: 5px; 
	font-size: 17px;
	text-transform: uppercase;
}
/*main*/
.card-main {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.card-main .card-img {width: 80%;}
.card-main .card-img img{
	height: 180px;
	width: 180px;
	margin-right: -25px;

}

.card-main .pilihan-warna .warna:hover {border: 2px solid #aaa;}
.card-main .pilihan-warna{ width: 20%; padding-right: 5px; }
.card-main .pilihan-warna .warna.merah{background-color:#e43477; }
.card-main .pilihan-warna .warna.ungu{background-color:#7f31bc; }
/*.card-main .pilihan-warna .warna:hover {filter: brightness(.6);}*/
.card-main .pilihan-warna .warna{
	border:2px solid rgba(255,255,255,0);
	cursor: pointer;
	background-color: #009888;
	width: 30px;
	height: 30px;
	margin:15px;
}
/*harga*/
.card .harga{margin-top: 10px;}
/*card-footer*/
.card .card-footer {
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #a08886;
	height: 15%;
	padding-left: 5px;
	padding-right: 5px;
	box-sizing: border-box;
	align-items: center;
}
.card .card-footer .button-beli button{
	width: 100px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 25px;
	font-weight: bold;
	background-color: #4b3446;
	color: #eee;
	cursor: pointer;
}
.card .card-footer .button-beli button:hover{background-color: #eaeaea; color:#4b3446; }
/*.card .card-footer .button-beli button:hover {filter: brightness(.7);}*/
.card-footer .icon-tambahan {
	display: flex;
	justify-content: space-around;
	width: 40%;
}
.card-footer .icon-tambahan i {	font-size: 20px; color: #4b3446; cursor: pointer;}
.card-footer .icon-tambahan i:hover {color: #eaeaea}

/* bagian hero*/
.search {
	display: flex;
	margin: auto;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
	position: relative;
}

.search .colom {
	margin: auto;
	position: absolute;
	top: 230px;
}

.search .colom input {
	width: 500px;
	height: 40px;
	outline: none;
	border: none;
	padding-left: 15px;
	font-size: 16px;
	color: #333;
	font-weight: bold;
	box-sizing: border-box;
	border-radius: 10px;
}

.search .colom span {
	width: 40px; 
	height: 40px;
	border-radius: 10px;
	position: absolute;
	background-color: white;
	display: inline-block;
	margin-left: 5px;
	text-align: center;
}

.search .colom span i{
	font-size: 20px;
	color: #333;
	line-height: 40px;
	cursor: pointer;
}

.search .colom input:hover, .search .colom span:hover, .search .colom input:focus, .search .colom span:focus{
	box-shadow: 0px 3px 3px #a08886;
}

.search .teks {
	position: absolute;
	top: 300px;
	text-align: center;
}

.search .teks h1 {
	font-family: "pristina";
	color: white;
}

.sosial-media ul{
	width: 230px;
	height: 200px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	position: absolute;
	top:200px;
	right: 0;
}

.sosial-media ul li.new { transform: translateX(0); transition: .3s;z-index: 9999;}
.sosial-media ul li:nth-child(2){border-left:5px solid #70bdd6; }
.sosial-media ul li:nth-child(3){border-left:5px solid salmon; }
.sosial-media ul li {
	box-shadow: 3px 3px 5px #aeaeae;
	border-left: 5px solid blue;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: .3s;
	transform: translateX(180px);
	width: 100%;
	height: 45px;
	background-color: white;
	box-sizing: border-box;
	list-style: none;
}

.sosial-media ul li span i {
	background-color: #eaeaea;
	width: 40px;
	padding-left: 15px;
	display: inline-block;
	line-height: 45px;
	font-size: 25px;
	color: #333;
}
.sosial-media ul li a {
	color: #333;
	text-decoration: none;
	font-size: 17px;
	line-height: 30px;
	padding-left: 15px;
}

/*profil*/
.profil {
	width: 100%;
	height: 600px;
	margin:20px auto;
	display: flex;
	justify-content: space-between;
}
/*min-profil*/
.profil .min-profil {order: 1; width: 18%;background-color:white;}
.profil .min-profil .header {background-color: #a08886; padding-left: 75px; color: #333; height: 40px; }

/*bio*/
.profil .bio { order: 2; background-color: white; width: 53%;}
.profil .bio .header {background-color: #a08886; padding-left: 75px; color: #333; height: 40px; }

.profil .bio .form table { font-size: 15px; }
.profil .bio .form {margin-top: 20px;}
.profil .bio .form textarea{ height: 80px; resize: none; padding-top: 5px;}
.profil .bio .form table button {font-size: 15px; color:#333; width: 100px; height: 30px; background-color: #a08886; outline: none; border: none; cursor: pointer; box-shadow: 3px 3px 3px #aeaeae; font-weight: bold;}
.profil .bio .form table input, textarea {
	width: 100%;
	height: 30px;
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
	font-size: 15px;
	color: #333;
}
/*jenis kelamin*/
.profil .bio .form table .jenisK {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 27px;
}
.profil .bio .form table .jenisK input{width: 17px; height: 17px;}
.profil .bio .form table .jenisK label{margin-left: 5px;}

/*tanggal lahir*/
.profil .bio .form table .tanggalL{
	display: flex;
	justify-content: space-around;
}
.profil .bio .form table .tanggalL span select{width: 80px; }


/*akun*/
.profil .akun {order: 3; background-color: white; width: 27%; }
.profil .akun .header {background-color: #a08886; padding-left: 75px; color: #333; height: 40px; }
.profil .akun .img-header:hover {filter: brightness(.9);}
.profil .akun .img-header {
	width: 200px;
	height: 200px;
	background-color: #eaeaea;
	margin:50px auto;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}

.profil .akun .img-header i{font-size:40px;line-height: 200px;color: #aeaeae;}
.profil .akun .main-akun {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 15px;
	box-sizing: border-box;
}

.profil .akun .main-akun .nama{	display: flex;width: 95%;font-size: 15px;}
.profil .akun .main-akun .nama .satu{width: 100px;}
.profil .akun .main-akun .nama .tiga{padding-left: 10px;}
.profil .akun .main-akun .nama .tiga button{
	width: 100px;
	height: 30px;
	border:none;
	outline: none;
	font-size: 14px;
	font-weight: bold;
	background-color: #a08886;
	color: #333;
	cursor: pointer;
	box-shadow: 3px 3px 3px #aeaeae;;
}
