*{
    box-sizing: border-box;
}
@media (max-width:1000px){

}

@media only screen and (max-width:670px){
    
    /* home */
    nav{
        position: fixed;

    }
    /* nav */
    nav .hamburger-button{
        width: 100%;
    }
    nav .hamburger-button ul{
        width: 100%;
        transform: translateX(-420px);
	    height: 415px;
    }
    nav .hamburger-button .header{
        left: 0;
        width: 100%;
    }
    nav .hamburger-button .button{
        transform: translateX(35px);
    }
    nav .main .nav-icon {
        display: none;
    }

    /*Bagian Hero*/
    .hero {
        width: 100%;
        height: 400px;
        background-image: url("../hero.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    /*Sosial media yang ada di hero*/
    .sosial-media ul {
        display: none;
    }

    /*Bagian pencarian*/
    .search {
        width: 80%;
    }
    .search .colom {
        top: 200px;
    }
    .search .colom input {
        width: 300px;
    }

    /* fitur */
    .fitur .main {
        flex-direction: column;
        height: 400px;
        width: 100%;
        justify-content: space-between;
        position: relative;
    }
    .fitur .main .voucher{
        width: 100%;
        display :flex;   
    }
    .fitur .main .voucher .main-vch {	
        background-color:#f08792;
        width: 100%;
        height: 180px;
        border-radius:10px;
        margin: 0;
        display:flex;
        align-items: center;
        justify-content: center;
        box-shadow:none;
    }
    /* card atau bagian populer */
    .populer {
        height: auto;
    }
    .card-flex{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .card-flex .card {
        width: 90%;
        height: 500px;
        margin-bottom: 50px;
    }
    .card .header h3{
        font-size: 27px;
    }
    /* card-main .card-img {width: 80%;} */
    .card .card-main{
        height: 330px;
    }
    .card .card-header h3 {
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: -10px;
    }
    .card-main .card-img img{
        height: 280px;
        width: 280px;
        margin-right: -25px;
    }
    .card-main .pilihan-warna .warna{
        border:2px solid rgba(255,255,255,0);
        cursor: pointer;
        background-color: #009888;
        width: 45px;
        height: 45px;
        margin:15px;
    }
    .card .card-footer .button-beli button{
        width: 135px;
	    height: 45px;
    }
    .card-footer .icon-tambahan i {	font-size: 27px;}
    .card .harga {
        font-size: 20px;
        margin-top: -10px;
    }





    /* profil  min profil*/
    .profil {
        flex-wrap: wrap;
    }
    .profil .prof {
        width: 100%;
        margin-bottom: 50px;
        box-shadow: 0 0 5px #aaaa;
    }
    .profil .min-profil .header{
        justify-content: space-center;
    }
    .profil .min-profil .header .edit-nama{
        width: 70%;
    }
    .profil .min-profil .header .edit-nama .edit a{
        font-size: 12px;
    }
    .profil .min-profil .isi-profil{
        width: 100%;
        margin: 0;
        padding-top: 20px;
        padding-bottom:50px;
    }
    .bio {
        display: none;
    }
}
